@import "../variables.scss";

.filter {
  display: none;
  position: relative;
  border: solid 6px rgba(240, 240, 240, 0.9);
  width: 90%;
  max-width: 1300px;
  height: 500px;
  margin: auto;

  place-items: center;
  padding: 0;
  overflow: hidden;
  box-shadow: 0 0 1em rgba(black, 0.4);
  @media (max-width: $bp-medium) {
    height: 600px;
  }

  h3 {
    color: grey;
    margin: 0 1rem;
  }

  .filterCloseButton {
    position: absolute;
    font-size: 65px;
    background-color: transparent;
    border: none;
    right: 15px;
    top: 10px;
    margin: 0;
    color: grey;
    cursor: pointer;
  }

  .filterByType {
    grid-column-start: 1;
    display: flex;
    flex-direction: column;

    h4 {
      margin: 1rem;
    }
    .filterChallengeTypes {
      margin: 0;
      padding: 0;
      font-size: 0.8rem;

      label {
        margin: 1rem;
      }
    }
  }

  .filterByRating {
    width: 200px;
    h4 {
      margin: 1rem;
    }
    
  }
  .rating {
    position: relative;
    width: 520px;
    height: 25px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.1em;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 0 2px #b3acac;
    user-select: none;
    margin: 1rem;
    @media (max-width: $bp-medium) {
      display: grid;
      grid-template-columns: repeat(5, 70px);
      grid-auto-rows: 40px;
      width: 350px;
      margin-left: 2rem;
      margin-top: 0;
      padding: 1px;
      box-shadow: none;
      height: 100px;

      .star_from_div {
        display: flex;
        grid-column: 1;
        grid-row: 1;
        width: 300px;
        margin: 0 auto;
      }

      .star_to_div {
        display: flex;
        width: 300px;
        margin: 0 auto;
        grid-column: 1;
        grid-row: 3;
      }

      p {
        margin: 0 auto;
        grid-column: 1;
        grid-row: 2;
        margin-left: 4.3rem;
      }
      
    }
    
  }

  .star_from,
  .star_to {
    font-size: 1.5em;
    cursor: pointer;
    color: #dabd18b2;
    transition: filter linear 0.3s;
    background-color: transparent;
    border: none;
  }

  .star_from:hover,
  .star_to:hover {
    filter: drop-shadow(3px 3px 4px gold);
  }

  .labelSearchInput {
    margin: 1rem;
    font-weight: bold;
    @media (max-width: $bp-medium) {
      position: relative;
      top: 1rem;
    }
  }
  .searchInput {
    margin: 1rem;
    font-size: 0.6em;
    padding: 10px;
    width: 300px;
    @media (max-width: $bp-medium) {
      position: relative;
      top: 0.4rem;
    }
  }

  .filterByTags {
    position: relative;
    display: flex;

    .tagsButton {
      color: black;
      background-color: rgba(128, 128, 128, 0.3);
      padding: 1em;
      margin: 0.2em;
      border-color: rgba($color: #000000, $alpha: 0.3);
      border-radius: 30px;
    }

    .tagsButton:hover {
      background-color: #dabd18b2;
    }
    .tagsButton-active {
      background-color: #dabd18b2;
    }
    @media (max-width: $bp-medium) {
      max-width: 500px;
      flex-wrap: wrap;

    }
  }
}
.is-hidden {
  display: none;
}

.no-match{
  display: none;
  font-size: 50px;
  text-align: center;
}

