.challengesBody {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  h1 {
    a {
      text-decoration: none;
      color: white;
    }
  }
}
.challenge-list {
  min-width: 360px;
}

.challengesMain {
  h2 {
    font-size: 2em;
    text-align: center;
  }

  .secondary {
    border: 2px solid $c-lightblue;
    color: $c-lightblue;
    background-color: transparent;
    padding: 10px;
    font-size: 1em;
    margin: 10px auto 50px;
    cursor: pointer;
  }
}

/* Makes footer stay at the bottom even when 
   the content is not filling the screen */
.challengesFooter {
  margin-top: auto;
}

@media screen and (min-width: $bp-large) {
  .challengesBody {
    max-width: auto;
    .challenge-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      min-width: 360px;
    }
  }
}

@media screen and (min-width: 2000px) {
  .challengesBody {
    .challenge-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      min-width: 360px;
    }
  }
}
