#modal-open {
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  background-color: white;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

  .modal-content {
    text-align: center;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 5px;
    background-color: white;
    width: 90%;
    max-width: 700px;
    height: 50%;
    margin: 50% auto;
    animation: fadeInModal 0.6s;

    h3 {
      margin: 1em;
    }

    p {
      margin: 40px;
    }

    label {
      font-weight: bold;
      margin-right: 10px;
    }

    input {
      font-size: 20px;
    }

    button {
      cursor: pointer;
      margin: 40px auto;
      font-size: 0.7em;
    }

    .modal-close {
      margin-top: 0px;
      margin-left: 85%;
      text-align: right;
      font-size: 70px;
      cursor: pointer;
    }
  }
}

@keyframes fadeInModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
