.modal-open {
  cursor: pointer;
}

.backdrop {
  position: fixed;
  background-color: white;
  width: 100vw;
  height: 100vh;
  top: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

  .modal-content {
    overflow: hidden;
    z-index: 2;
    text-align: center;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 5px;
    background-color: white;
    width: 90%;
    max-width: 700px;
    height: auto;
    margin: 20vh auto;
    animation: fadeInModal 0.6s;
    padding-bottom: 40px;

    .modal-heading {
      margin: 1em;
      margin-top: -20px;
    }

    .p-question {
      margin: 40px;
    }

    label {
      font-weight: bold;
      margin-right: 10px;
    }

    input {
      font-size: 1.1em;
      border-radius: 5px;
    }

    select {
      font-size: 0.9em;
      max-height: 40%;
      padding: 4px;
      border-radius: 5px;
    }
    .time-number[type="number"] {
      width: 60px;
      padding-left: 10px;
    }

    .modal-button {
      cursor: pointer;
      margin: 40px auto;
      font-size: 0.7em;
    }

    .modal-close {
      margin-left: 85%;

      font-size: 70px;
      cursor: pointer;
    }
    .errorMessage {
      animation: blinkWrongMessage;
      animation-duration: 0.4s;
      animation-timing-function: ease-in;
    }
  }
}

@keyframes fadeInModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blinkWrongMessage {
  25%,
  75% {
    opacity: 0;
  }
  50%,
  100% {
    opacity: 1;
  }
}
